__pycache__
.pyc
.idea

.g2rl/
.models/
g2rl/
models/
weights/dqn_model_cpu.pth
weights/dqn_model_cuda.pth
weights/dqn_model_cpu_2.pth
weights/dqn_model_cuda_2.pth
weights/dqn_model_cpu_czm.pth
weights/dqn_model_cuda_czm_1.pth
