# AUTOROM_ACCEPT_LICENSE=1 pip install -r requirements.txt
numpy
opencv-python
Pillow
torch
matplotlib
progressbar2
pygame
imageio
argparse
keyboard
stable_baselines3
tensorboard
autorom
ale-py==0.8.0
gymnasium[box2d]
wandb
atari-py==0.2.5
gymanisum[atari]
gym[atari]